@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', open-sans;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fff;
}

.heading {
  padding-top: 137px;
  margin-bottom: 78px;
  text-align: center;
  padding: 137px 15px 0;
}

.title {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 900;
  color: #394b50;
}
.subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #75888d;
}

.btn {
  background-color: #ffbb42;
  color: white;
  padding: 16px 21px;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  transition: 0.3s all ease;
  font-size: 14px;
  cursor: pointer;

  &:hover {
    background-color: #e2e9f0;
    color: #394b50;
  }
}

p {
  font-size: 13px;
  color: #7b7b7b;
  line-height: 22px;
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;

  .burger {
    display: none;

    div {
      width: 25px;
      height: 3px;
      background: #868686;
      margin: 5px;
      transition: 0.5s;
    }
  }

  .menu {
    list-style: none;
    display: flex;

    &__link {
      text-decoration: none;
      color: #868686;
      padding: 12px 21px;
      transition: 0.3s;
      position: relative;

      &:hover {
        border-radius: 3px;
        color: white;
        background-color: #ffbb42;
      }
    }

    .active {
      border-radius: 3px;
      color: white;
      background-color: #ffbb42;
    }
  }
}

.form {
  div {
    display: inline-block;
  }

  input {
    border-radius: 3px;
    padding: 17px 0 17px 44px;
    font-size: 13px;
    color: #b4b4b4;
    min-width: 281px;
    margin-right: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #cbcbcb;

    &::placeholder {
      color: #a9a9a9;
    }
  }

  i {
    color: #6e6e6e;
  }

  .name-input,
  .email-input,
  .phone-input {
    position: relative;

    i {
      position: absolute;
      left: 15px;
      top: 16px;
    }
  }

  .btn {
    padding: 17px 45px;
  }
}

/* BANNER SECTION */
.banner {
  text-align: center;
  background: rgb(0,212,255);
  background: linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(112,157,202,1) 82%);  padding-top: 180px;
  padding-bottom: 341px;
  position: relative;

  .heading {
    padding: 0 15px;
    .title {
      color: #fff;
    }

    .subtitle {
      color: #fff;
      margin-bottom: 31px;
    }
  }

  .splide {
    position: absolute;
    max-width: 100%;
    bottom: -60px;

    &__pagination {
      bottom: -30px;

      .splide__pagination__page {
        opacity: 1;
        border: 1px solid #dedfe0;
        width: 11px;
        height: 11px;
        background: none;
      }
      .splide__pagination__page.is-active {
        border: 1px solid #1ca8dd;
        transform: scale(1.1);
      }
    }
  }
}

/* SERVICE SECTION  */
.service {
  margin-top: 73px;
  margin-bottom: 155px;

  .container {
    display: grid;
    grid-template-columns: 515px 515px;
    grid-column-gap: 85px;
    grid-row-gap: 80px;

    .service__item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      position: relative;

      img {
        position: absolute;
        left: 0;
      }

      .service__item_text {
        margin-left: 80px;

        h4 {
          font-size: 16px;
          font-weight: 700;
          text-transform: uppercase;
          color: #394b50;
          margin-bottom: 12px;
        }
      }
    }
  }
}

/* ABOUT SECTION */
.about {
  display: flex;
  background-color: #ffc155;

  &__image {
    flex: 1;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    flex: 1;

    .about__content_inner {
      margin: 164px 0 173px 78px;

      .title {
        color: #fff;
      }

      p {
        font-size: 15px;
        line-height: 28px;
        max-width: 505px;
        color: #fff;
        padding: 23px 0 35px;
      }

      .btn {
        border: 1px solid #e7ad48;
      }
    }
  }
}

/* PRICING SECTION */
.pricing {
  background-color: #e7edf3;

  .container {
    display: flex;
    justify-content: center;

    .plan {
      background: #fff;
      border: 1px solid #ccd5df;
      border-radius: 3px;
      padding: 57px 31px 48px 31px;
      margin-bottom: 194px;
      margin-right: 15px;
      text-align: center;
      transition: all 0.5s ease;

      h2 {
        font-size: 25px;
        font-weight: 300;
        text-transform: uppercase;
        color: #818b95;
        margin-bottom: 31px;
      }

      h3 {
        color: #ffbb42;
        font-size: 60px;
        font-weight: 700;
        position: relative;

        &::before {
          position: absolute;
          content: '$';
          font-size: 30px;
          font-weight: 400;
          top: 0.2em;
          left: 3.8em;
        }
      }

      h5 {
        color: #818b95;
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 31px;
      }

      .plan-features {
        min-width: 329px;
        border-top: 1px solid #e2e9f0;
        padding: 15px 0;
        color: #b5bbc1;
        font-size: 14px;
        text-transform: uppercase;
      }

      .btn {
        margin-top: 15px;
      }

      &:hover {
        background: #709dca;
        transform: scale(1.1);
      }

      &:hover > :nth-child(-n + 3) {
        color: #fff;
      }

      &:hover > .plan-features {
        color: #c2e1ff;
        border-top: 1px solid #8eb8e2;
      }
    }
  }
}

/* STEPS SECTION */
.steps {
  text-align: center;
  margin-bottom: 149px;

  .container {
    display: flex;
    justify-content: space-between;

    .steps__item {
      margin: 107px 0 91px;
      max-width: 213px;
      position: relative;

      .arrow-side {
        position: absolute;
        left: 200px;
        top: -20px;
      }

      .arrow-center {
        position: absolute;
        left: 200px;
        top: 70px;
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        color: #394b50;
        text-transform: uppercase;
        margin: 100px 0 28px;
      }
    }
  }
}

/* CLIENTS SECTION */
.clients {
  background-color: #ffc155;
  padding-bottom: 160px;

  .title {
    color: #fff;
  }
  .subtitle {
    color: #fff;
  }
  .container {
    display: grid;
    grid-template-columns: 567px 567px;
    grid-column-gap: 36px;
    grid-row-gap: 20px;

    .testimonial {
      display: flex;
      align-items: flex-start;
      background: #fff;
      padding: 51px 30px;
      cursor: pointer;
      transition: 0.5s;
      border-radius: 3px;

      &:hover {
        transform: scale(1.1);
      }

      img {
        max-width: 121px;
      }

      .testimonial__content {
        margin-left: 31px;

        q {
          font-size: 13px;
          color: #7b7b7b;
          line-height: 22px;
          position: relative;

          &::before {
            content: open-quote;
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            left: -20px;
            top: 0px;
          }

          &::after {
            content: close-quote;
            position: absolute;
            font-size: 30px;
            font-weight: 700;
            position: absolute;
            right: -20px;
            bottom: -10px;
          }
        }
        footer {
          margin-top: 29px;
          font-size: 14px;
          text-transform: uppercase;
          font-family: Lato;
          color: #99a9ae;

          cite {
            font-style: normal;
          }
          .author {
            color: #f6772c;
          }
        }
      }
    }
  }
}

/* NEWSLETTER */
.newsletter {
  text-align: center;

  .heading {
    margin-bottom: 38px;
  }
}

/* MAP SECTION */
.map {
  margin: 53px 0 57px;
  background: url(../images/map.png) no-repeat center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 550px;
    flex-direction: column;

    .adress {
      background: url(../images/shape.png) center no-repeat;
      background-size: cover;
      max-width: 390px;

      .adress__inner {
        padding: 70px 68px 90px;
        text-align: center;

        h5 {
          font-size: 15px;
          color: #fff;
          text-transform: uppercase;
          margin-bottom: 17px;
        }

        p {
          line-height: 24px;
        }

        a {
          color: #ffbb42;
        }
      }
    }
  }
}

/* FOOTER */
footer {
  .container {
    text-align: center;

    hr {
      border: 1px solid #e3e7ec;
    }

    nav {
      display: inline-block;
      margin: 68px 0 29px;

      .menu-footer {
        list-style: none;
        display: flex;

        &__link {
          text-decoration: none;
          color: #868686;
          padding: 12px 21px;
          transition: 0.3s;
          position: relative;

          &:hover {
            border-radius: 3px;
            color: white;
            background-color: #ffbb42;
          }
        }

        .active {
          border-radius: 3px;
          color: white;
          background-color: #ffbb42;
        }
      }
    }
    .call {
      display: block;
      color: #394b50;
      text-decoration: none;
      font-size: 23px;

      i {
        font-size: 18px;
      }
    }

    .social {
      margin: 23px 0 52px;
      a {
        margin-right: 15px;

        i {
          font-size: 18px;
          color: #709dca;
        }
        .fa-twitter {
          color: #ffc155;
        }
      }
    }
  }

  .copyright {
    height: 49px;
    background-color: #709dca;
    color: #fff;
    font-size: 13px;
    text-align: center;
    padding: 17px 0;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }

  .service {
    margin-top: 73px;
    margin-bottom: 155px;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .service__item {
        max-width: 512px;
      }
    }
  }

  .about {
    flex-direction: column;
    .about__content {
      align-items: center;
      .about__content_inner {
        text-align: center;
        width: 90%;
        margin: 140px auto;
        p {
          max-width: 100%;
        }
      }
    }
  }

  .pricing {
    .container {
      flex-direction: column;
      align-items: center;

      .plan {
        max-width: 512px;
        margin: 0 0 15px;
      }
    }
  }

  .steps {
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .steps__item {
        max-width: 100%;
        margin: 40px 0;

        h3 {
          margin: 40px 0;
        }

        p {
          padding: 0 50px;
        }

        .arrow-side {
          display: none;
        }

        .arrow-center {
          display: none;
        }
      }
    }
  }

  .clients {
    .container {
      display: grid;
      grid-template-columns: 100%;
    }
  }
}

@media screen and (max-width: 935px) {
  body {
    overflow-x: hidden;
  }

  nav {
    .menu {
      position: fixed;
      right: 0px;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      width: 50%;
      align-items: center;
      right: -100%;
      transition: 0.5s ease-in;
      z-index: 100;
      background: #fff;

      li {
        opacity: 0;
      }
    }

    .show {
      right: 0;
    }

    .toggle {
      .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
      }

      .line2 {
        opacity: 0;
      }

      .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }

    .burger {
      display: block;
      cursor: pointer;
      z-index: 100;
    }
  }
}

@media screen and (max-width: 880px) {
  .form {
    padding: 25px;
    div {
      min-width: 100%;
      input {
        min-width: 100%;
      }
    }
    .btn {
      min-width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
 .banner {
    padding-bottom: 300px;
  }

  footer {
    .container {
      nav {
        .menu-footer {
          display: grid;
          grid-row-gap: 25px;
          grid-template-columns: 1fr 1fr 1fr;
        }
      }
    }
  }

  .splide {
    .splide__slide img {
      width: 90%;
      height: auto;
    }
  }
}

@media screen and (max-width: 465px) {
  nav {
    .menu {
      width: 75%;
    }
  }

  .banner {
    padding-bottom: 170px;
  }

  .pricing {
    .container {
      .plan {
        h3 {
          &::before {
            left: 4rem;
          }
        }
        .plan-features {
          min-width: 250px;
        }
      }
    }
  }

  .steps {
    .container {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  .clients {
    .container {
      .testimonial {
        text-align: center;
        display: block;

        .testimonial__content {
          margin: 29px 0 0;
        }
      }
    }
  }

  footer .container nav .menu-footer {
    grid-template-columns: 1fr;
  }
}

/* ANIMATIONS */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
